#whoarewe{
    .whoarewe__subtitle{
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 24px;

    }
    .whoarewe__title{
        font-size: 34px;
        font-weight: 500;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    .whoarewe__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
    }
}